body{
  background: #f2f2f2;
}

header nav,
header nav a#perfil-user,
div#app main,
section.post-author div.post-author-perfil,
div.post section.post-comments{
  display: flex;
}

/* ==================== HEADER ====================== */
header{
  background: #3b5998;
  padding: 20px 0;
}

header nav {
  justify-content: space-between;
  margin: 0 5vw;
}

header nav img {
  width: 130px;
}

header nav a#perfil-user{
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: white;
}

header nav a#perfil-user span{
  font-size: 14px;
  margin-right: 15px;
  font-weight: bold;
}
/* ==================== FIM HEADER =================== */

/* ======================= MAIN ===================== */
main {
  flex-direction: column;
  align-items: center;
}

main div.post{
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;

  width: 50%;
  background: #FFF;
  box-shadow: 2px 4px 12px #AAA;
}

@media(max-width:700px){
  main div.post{
    width: 80%;
  }
}

@media(min-width:700px) and (max-width:900px){
  main div.post{
    width: 65%;
  }
}

div.post section.post-author{
  border-bottom: 1px solid #DDD;
}

main div.post img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

main div.post h2,
main div.post p{
  font-size: 14px;
}

main div.post h2{
  margin: 0;
}

main div.post span{ /* data */
  font-size: 11px;
  color: #AAA;
}

div.post section.post-comments{
  margin-top: 15px;
}

div.post section.post-comments img{
  width: 30px;
  height: 30px;
}

div.post section.post-comments div.text{
  background: #EEE;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

div.post section.post-comments div.text h2{
  display: inline;
  margin-right: 5px;
}

div.post section.post-comments div.text p{
  display: inline;
  margin: 0;
}

/* ================= FIM MAIN ================== */
